$large: x-large;
$googleTransition: .7s;
$facebookTrasition: .6s;


.sign-in{
  height: 100%;
}
.signInComponent{
  margin: auto auto;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  width: fit-content;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, .2);
}
.sign-in-with p{
  margin: 0;
  font-size: medium;
  font-weight: 400;
}
label{
  font-size: medium;
  background-color: white;
  position: relative;
  font-weight: 700;
  cursor: text;

}
input{
  font-weight: 550;
  width: 120%;
  padding: .25rem;
  border-radius: 1rem;
  margin: .5rem 0;
}






















.btn-provider {
  padding: 0.5rem 1rem;
  transition: .5s;
  background-color: #FFF;
  margin: 0px;
}
.btn-facebook{
  background-color: #3b5998;
}
.icon-facebook{
  position: relative;
  display: none;
}
.btn-provider > img {
  height: 30px;
}
.btn-google{
  transition: $googleTransition;
}
.icon-google-white{
  position: relative;
  transition: $googleTransition;
  display: none;
}
.icon-google{
  transition: $googleTransition;
}

.btn-google:hover, .btn-google:focus{
    transition: $googleTransition;
    background: url('/assets/google-logo.jpg');
    background-position: center;

    .icon-google{
      transition: $googleTransition;
      display: none;
    }
    .icon-google-white{
      display: block;
      transition: $googleTransition;
    }
}
.icon-facebook,.icon-facebook-white{
  padding: 0 .5rem;
  transition: $facebookTrasition;
}
.btn-facebook:hover, .btn-facebook:focus{
  transition: $facebookTrasition;
  background-color: white;
  .icon-facebook-white{
    display: none;
  }
  .icon-facebook{
    display: block;
  }

}
