<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    Navbar
    <button class="btn btn-outline-light me-2">Account</button>
  </div>
</nav>
  <div class="col-2 sidebar">
    <mat-nav-list class="sidebar-list" role="list">
      <a href=""><mat-list-item  role="listitem">Home</mat-list-item></a>
      <a href=""><mat-list-item role="listitem">Goals</mat-list-item></a>
      <a href=""><mat-list-item role="listitem">Your progress</mat-list-item></a>
    </mat-nav-list>
  </div>

