  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <button class="btn" style="color: white;" (click)="sidebar.toggle(); toggleNavbarIcon()" [hidden]="!mobileViewport"><mat-icon>{{navIcon}}</mat-icon></button>
      SkillBuddy
      <button class="btn btn-outline-light me-2">Log Out</button>
    </div>
  </nav>
  <mat-drawer-container>
    <mat-drawer #sidebar [mode]="mobileViewport ? 'over' : 'side'" [opened]="!mobileViewport">
        <div class="sb-image-wrapper">
          <img class="my-2" src="favicon.ico" alt="icon">
        </div>
        <mat-divider></mat-divider>
        <mat-nav-list class="sidebar-list" role="list">
          <a href=""><mat-list-item  role="listitem"><mat-icon>home</mat-icon>Home</mat-list-item></a>
          <a href=""><mat-list-item role="listitem"><mat-icon>hiking</mat-icon>Goals</mat-list-item></a>
          <a href=""><mat-list-item role="listitem"><mat-icon>checklist</mat-icon>Your progress</mat-list-item></a>
        </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
          <router-outlet></router-outlet>
      </mat-drawer-content>
  </mat-drawer-container>



