.navbar {
  background-color: #6200EE;
  color: white;
  font-size: 2.5rem;

}
.sidebar {
  background-color: #EBEEEF;
  font-size: 1em;
  height: 100%;
  width: 10vw;
  position: absolute;
}
mat-icon {
  margin: 0.3em;
}
.container, .row, .col {
  height: 100%;
}
